/* File: login.css
Name: Leo Qian
Class: CS325, Jan 2022
Final Project
Due date: Last day of class */

body {font-family: Arial, Helvetica, sans-serif;background-color: lightyellow;}

h1 {font-size: 48pt; margin-left: auto;margin-right:auto;width: 10%;}

form {width: 20%;margin-left: auto;margin-right: auto;
        font-size: 20pt;}

.textInput {font-size: 25pt;}

.btn {font-size: 25pt;margin-left: 50%;
    border-radius: 5px;
    padding-left: 5%;padding-right: 5%;
    text-align: center;}

.btn:hover {border: 1px solid black;}

#error {text-align: center; color: red; font-style: bold; font-size: 16pt;}